# A/B Testing Course

## Lesson 10. Multiple Testing

### Homework

#### Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from scipy.stats import ttest_ind

#### Task 1.

How many incompatible independent experiments can be conducted simultaneously if we collect 10,000 observations during the experiment?

If we decide to run 10 experiments, we can allocate 1,000 observations per experiment, with a group size of 500.

Experiment parameters:

- Testing the hypothesis of equal means.
- Significance level: 0.05.
- Allowable probability of Type II error: 0.1.
- Expected effect: increase in values by 3%.
- Method of introducing the effect in synthetic A/B experiments: multiplication by a constant.
- Assuming that the measured values follow a normal distribution with a mean of 100 and a standard deviation of 10.

As the answer, please enter the maximum number of experiments that can be conducted with the given parameters.

In [3]:
users = 10000
alpha = 0.05
beta = 0.1
effect = 1.03
mean = 100
std = 10

In [4]:
num_exp_lst = []
fpr_lst = []
power_lst = []

for num in range(1, 26):
    users_in_exp = users // num
    users_in_group = users_in_exp // 2
    alpha_ = alpha / num  # Bonferroni correction
    
    pval_a_lst = []
    pval_b_lst = []
    for _ in range(10000):
        a = np.random.normal(mean, std, users_in_group)
        aa = np.random.normal(mean, std, users_in_group)
        b = a * effect

        _, pval_a = ttest_ind(a, aa)
        _, pval_b = ttest_ind(a, b)
        pval_a_lst.append(pval_a)
        pval_b_lst.append(pval_b)

    fp = [x for x in pval_a_lst if x < alpha_]
    tp = [x for x in pval_b_lst if x < alpha_]

    fpr = len(fp) / len(pval_a_lst)
    power = len(tp) / len(pval_b_lst)
    
    num_exp_lst.append(num)
    fpr_lst.append(fpr)
    power_lst.append(power)
    
    
result_df = pd.DataFrame(
    {'experiments': num_exp_lst,
     'fpr': fpr_lst,
     'power': power_lst
    }
)

In [5]:
result_df

    experiments     fpr   power
0             1  0.0461  1.0000
1             2  0.0239  1.0000
2             3  0.0156  1.0000
3             4  0.0135  1.0000
4             5  0.0099  1.0000
5             6  0.0080  1.0000
6             7  0.0076  1.0000
7             8  0.0053  1.0000
8             9  0.0062  1.0000
9            10  0.0054  1.0000
10           11  0.0035  1.0000
11           12  0.0032  1.0000
12           13  0.0033  1.0000
13           14  0.0021  1.0000
14           15  0.0032  1.0000
15           16  0.0023  1.0000
16           17  0.0033  1.0000
17           18  0.0037  0.9999
18           19  0.0027  0.9961
19           20  0.0023  0.9728
20           21  0.0020  0.8906
21           22  0.0024  0.7139
22           23  0.0024  0.5010
23           24  0.0022  0.3180
24           25  0.0020  0.1632

In [6]:
ans = result_df[(result_df['fpr'] < alpha) & (result_df['power'] > 1 - beta)].shape[0]

print(f'The maximum number of experiments that can be conducted with the given parameters: {ans}')

The maximum number of experiments that can be conducted with the given parameters: 20

#### Task 2.

tbc..